:root {
    --width: 300px;
    --large-font-size: 1.2em;
    --gopher-width: 200px;
}

@media screen and (min-width: 640px) {
    :root {
        --width: 800px;
        --large-font-size: 2em;
        --gopher-width: 240px;
    }
}

#emogen {
    margin: 0 auto;
    max-width: var(--width);
}

.emojis {
    font-size: 0.6em;
}

.title-container-small {
    display: block;
}

.title-container-large {
    display: none;
}

@media screen and (min-width: 640px) {
    .title-container-small {
        display: none;
    }

    .title-container-large {
        display: block;
    }
}

.title-container-small, .title-container-large {
    text-align: center;
}

.title-container-small h3 {
    margin: 0;
    font-size: var(--large-font-size);
}

a {
    /* disable papercss stuff */
    background-image: none !important;
}

#gopher {
    width: var(--gopher-width);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -16px;

    /* disable papercss stuff */
    border: none;
    border-radius: 0;
}

input {
    display: block;
    margin-top: 5px !important;
}

#link {
    width: var(--width);
}

#copy {
    margin-left: 5px;
    padding: 0.5rem;
}

#submit, h3 {
    margin-left: auto;
    margin-right: auto;
}

#toast {
    margin-top: 50px;
    text-align: center;
    width: var(--width);
    visibility: hidden;
    opacity: 0;

    animation-duration: 3s;
    animation-name: toast-animation;
    animation-iteration-count: 1;
}

@keyframes toast-animation {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#result {
    visibility: hidden;
    text-align: center;
    margin-top: 20px;

    animation-duration: .2s;
    animation-name: bounce-in;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .6);
}

@keyframes bounce-in {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    75% {
        transform: translateY(10px);
        transform: scale(1, 1);
        opacity: 1;
        
    }
    80% {
        transform: scale(1, 0.5);
    }
    100% {
        transform: translateY(0px);
        transform: scale(1, 1);
    }
}
