:root {
    --regular-font-large-display: 1em;
    --regular-font-small-display: 1.5em;

    --large-font-large-display: 2em;
    --large-font-small-display: 2.2em;

    --gopher-width-small-display: 360px;
    --gopher-width-large-display: 240px;

    --gopher-margin-bottom-small-display: -22px;
    --gopher-margin-bottom-large-display: -16px;

    --width: 800px;
    --font-size: var(--regular-font-small-display);
    --large-font-size: var(--large-font-small-display);
    --gopher-width: var(--gopher-width-small-display);
    --gopher-margin-bottom: var(--gopher-margin-bottom-small-display);
    --result-top: var(--result-top-small-display);
}

@media screen and (min-width: 1000px) {
    :root {
        --font-size: var(--regular-font-large-display);
        --large-font-size: var(--large-font-large-display);
        --gopher-width: var(--gopher-width-large-display);
        --gopher-margin-bottom: var(--gopher-margin-bottom-large-display);
        --result-top: var(--result-top-large-display);
    }
}

#emogen {
    margin: 0 auto;
    max-width: var(--width);
    font-size: var(--font-size);
}

.emojis {
    font-size: 0.6em;
}

.title-container-small {
    display: block;
}

.title-container-large {
    display: none;
}

@media screen and (min-width: 1000px) {
    .title-container-small {
        display: none;
    }

    .title-container-large {
        display: block;
    }
}

.title-container-small, .title-container-large {
    text-align: center;
}

.title-container-small h3 {
    margin: 0;
    font-size: var(--large-font-size);
}

a {
    /* disable papercss stuff */
    background-image: none !important;
}

#gopher {
    width: var(--gopher-width);
    margin: 0 auto;
    margin-bottom: var(--gopher-margin-bottom);

    /* disable papercss stuff */
    border: none;
    border-radius: 0;
}

input {
    display: block;
    margin-top: 5px !important;
    font-size: var(--font-size) !important;
}

button {
    font-size: var(--font-size) !important;
}

#link {
    width: var(--width);
}

#copy {
    margin-left: 5px;
    padding: 0.5rem;
}

#submit, h3 {
    margin-left: auto;
    margin-right: auto;
}

#result {
    visibility: hidden;
    text-align: center;
    margin-top: 20px;

    animation-duration: .2s;
    animation-name: bounceIn;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .6);
}

@keyframes bounceIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    75% {
        transform: translateY(10px);
        transform: scale(1, 1);
        opacity: 1;
        
    }
    80% {
        transform: scale(1, 0.5);
    }
    100% {
        transform: translateY(0px);
        transform: scale(1, 1);
    }
}
